<div class="container">
    <% if (items.length == 0){%>
    There is no items in the shopping cart
    <%} else {%>
    <table class="table">
        <tr>
            <td>
                Items
                <%if (items.length > 0) {%>
                (<%=items.length%>)
                <%}%>
            </td>
            <td>
                Quantity</td>
            <td>
                Price</td>
        </tr>
        <% items.forEach(item => { %>
        <tr>
            <td>
                <%= item.item.name %></td>
            <td>
                <%= item.quantity %></td>
            <td>
                <%= item.item.price %></td>
        </tr> <% }) %>
    </table>
    <form action="/cart/checkout" method="post">
        <button type="submit">Checkout</button>
    </form>
</div>
<% } %>